@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Metal+Mania&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Tac+One&display=swap');
*{
    margin: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100vw;
    
}

.nav{
    height: 70px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 60px;
    align-items: center;
    border-bottom: 2px solid #67c416;
}
.head{
    font-family: 'Tac One';
    font-size: 30px;
    color: #006939;
}

.links > a{
    margin-left: 20px;
    text-decoration: none;
    color: #006939;
    font-family: kanit;
    font-weight: 500;
    padding-bottom: 5px;
    padding: 0 10px 5px 0px;
}

.links > a:hover{
    transition: 0.2s;
    color: #9dc416;
    
    border-bottom: 3px solid #9dc416;
}

.landing{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid black;
}
.infos-1{
    margin-left: 100px;
    text-align: center;
}
.heading{
    font-family: 'Tac One';
    font-size: 90px;
    color: #006939;
}
.h2{
    font-family: 'Tac One';
    color: #006939;
    font-size: 40px;
}
.sub{
    font-family: kanit;
    color: #67c416;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 40px;
}
.click-here{

    text-decoration: none;
    background-color: #006939;
    color: #ffffff;
    padding: 5px 10px;
    font-family: quantico;
    font-weight: 600;
    letter-spacing: 3px;
    border-radius: 4px;
}
.click-here:hover{
    background-color: #9dc416;
    transition: 0.6s;
}
.main-cont{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.cont{
    display: flex;
    flex-direction: column;
    width: 60vw;
    background-color: antiquewhite;
    padding: 20px 20px;
    box-shadow: 2px 2px 22px black;
    border-top: 1px solid white;
    border-left: 1px solid white;
    margin-bottom: 80px;
}
.headin{
    font-family: 'Metal Mania';
    font-size: xx-large;
    margin-bottom: 20px;
}
.cont > a{
    margin-bottom: 10px;
    font-family: kanit;
}
.content{
    font-family: kanit;
    font-size: larger;
}

.footer{
    height: 200px;
    width: 100vw;
    border-top: 3px solid #006939;
    padding: 20px 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.heading-foot > a{
    font-family: 'Tac one';
    text-decoration: none;
    color: #006939;
    font-size: 25px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    font-family: kanit;
    text-decoration: none;
    height: 100%;

}
.footer-links > a{
    text-decoration: none;
    color: #006939;
    margin-bottom: 15px;
}

.footer-links > a:hover{
    transition: 0.2s;
    color: #9dc416;
    border-bottom: 3px solid #9dc416;
}
.members{
    display: flex;
    flex-direction: column;

}
.head-members{
    font-family: kanit;
    font-weight: 800;
    letter-spacing: 2px;
    color: #006939;
    font-size: 23px;
}
.n{
    font-family: kanit;
    letter-spacing: 1px;
    color: #67c416;
    font-size: 18px;
}
.footer-cont{
    display: flex;
    flex-direction: column;
}
.footer-cont > a{
    margin-bottom: 6px;
    color: #006939;
    font-family: kanit;
    text-decoration: none;

}
.footer-cont > a:hover{
    transition: 0.5s;
    color: #67c416;

}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}